body {
    background-color: rgb(50, 159, 178);
}
h1 {
    color:blue;
}
.boldClass {
    font-weight: bold;
}
#bigID {
    font-size: 24px;
}
.superSize {
    font-size: 40px;
}
li:hover {
    background-color: rgb(245, 129, 124);
}
p:lang(it) {
    background: yellow;
}
h2:hover {
    background-color: red;
}
